
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}

body.dark-mode #chart-container,
body.dark-mode #analysis {
    background-color: #1f1f1f;
}

body.dark-mode footer {
    background-color: #1f1f1f;
    border-top: 1px solid #333;
}

body.dark-mode #affiliation-inquiry {
    background-color: #1f1f1f;
}

body.dark-mode #affiliation-inquiry h2,
body.dark-mode #affiliation-inquiry label {
    color: #e0e0e0;
}

body.dark-mode #affiliation-inquiry input[type="text"],
body.dark-mode #affiliation-inquiry input[type="email"],
body.dark-mode #affiliation-inquiry textarea {
    border: 1px solid #555;
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode #affiliation-inquiry button {
    background-color: #0056b3;
}

body.dark-mode #affiliation-inquiry button:hover {
    background-color: #003e80;
}
